<section class="pagination-section">
  <h3>Stan domyślny</h3>
  <nav aria-label="pagination">
    <ul class="pagination">
      <li class="pagination__item pagination__item--previous-group">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">
            Początek
            <span>zestawu stron</span>
          </span>
        </a>
      </li>
      <li class="pagination__item pagination__item--previous-page">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">
            Poprzednia
            <span>sttrona</span>
          </span>
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">strona </span>1
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">strona </span>2
        </a>
      </li>
      <li class="pagination__item pagination__item--is-active">
        <a class="pagination__link" href="#" aria-current="page"><span class="visuallyhidden">strona</span>3</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">strona </span>4
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">strona </span>5
        </a>
      </li>
      <li class="pagination__item pagination__item--next-page">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">
            Następna
            <span>strona</span>
          </span>
        </a>
      </li>
      <li class="pagination__item pagination__item--next-group">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">
            Koniec
            <span>zestawu stron</span>
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="break"></div>
  <h3>Stan wyłączonych grup łączy Poprzednia/Następna grupa łączy</h3>
  <nav aria-label="pagination">
    <ul class="pagination">
      <li class="pagination__item pagination__item--previous-group">
        <a class="pagination__link pagination__link--is-disabled" href="#" aria-disabled="true">
          <span class="visuallyhidden">
            Początek
            <span>zestawu stron</span>
          </span>
        </a>
      </li>
      <li class="pagination__item pagination__item--previous-page">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">
            Poprzednia
            <span>strona</span>
          </span>
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">strona </span>1
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">strona </span>2
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#"><span class="visuallyhidden">strona</span>3</a>
      </li>
      <li class="pagination__item pagination__item--is-active">
        <a class="pagination__link" href="#" aria-current="page">
          <span class="visuallyhidden">strona </span>4
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">strona </span>5
        </a>
      </li>
      <li class="pagination__item pagination__item--next-page">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">
            Następna
            <span>strona</span>
          </span>
        </a>
      </li>
      <li class="pagination__item pagination__item--next-group">
        <a class="pagination__link pagination__link--is-disabled" href="#" aria-disabled="true">
          <span class="visuallyhidden">
            Koniec
            <span>zestawu stron</span>
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="break"></div>
  <h3>Stan wyłączonych grup łączy Poprzednia/Następna grupa łączy</h3>
  <nav aria-label="pagination">
    <ul class="pagination">
      <li class="pagination__item pagination__item--previous-page">
        <a class="pagination__link pagination__link--is-disabled" href="#" aria-disabled="true">
          <span class="visuallyhidden">
            Poprzednia
            <span>strona</span>
          </span>
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">strona </span>1
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">strona </span>2
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#"><span class="visuallyhidden">strona</span>3</a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          <span class="visuallyhidden">strona </span>4
        </a>
      </li>
      <li class="pagination__item pagination__item--is-active">
        <a class="pagination__link" href="#" aria-current="page">
          <span class="visuallyhidden">strona </span>5
        </a>
      </li>
      <li class="pagination__item pagination__item--next-page">
        <a class="pagination__link pagination__link--is-disabled" href="#" aria-disabled="true">
          <span class="visuallyhidden">
            Następna
            <span>strona</span>
          </span>
        </a>
      </li>
    </ul>
  </nav>
</section>
