<section class="image-gallery-section">
  <div class="image-gallery">
    <div class="square"><img src="https://www.placecage.com/300/300" alt="losowo wygenerowany obraz  słynnego Nic Cage"></div>
    <div class="square"><img src="https://www.fillmurray.com/300/300" alt="losowo wygenerowany obraz  Bill Murray"></div>
    <div class="square"><img src="https://www.placecage.com/300/300" alt="losowo wygenerowany obraz  słynnego  Nic Cage"></div>
    <div class="square"><img src="https://www.fillmurray.com/300/300" alt="losowo wygenerowany obraz bajecznego Bill Murray"></div>
    <div class="square"><img src="https://www.placecage.com/300/300" alt="losowo wygenerowany obraz  słynnego Nic Cage"></div>
    <div class="square"><img src="https://www.fillmurray.com/300/300" alt="losowo wygenerowany obraz bajecznego Bill Murray"></div>
    <div class="square"><img src="https://www.placecage.com/300/300" alt="losowo wygenerowany obraz  słynnego Nic Cage"></div>
    <div class="square"><img src="https://www.fillmurray.com/300/300" alt="losowo wygenerowany obraz bajecznego Bill Murray"></div>
    <div class="square"><img src="https://www.placecage.com/300/300" alt="losowo wygenerowany obraz  słynnego Nic Cage"></div>
    <div class="square"><img src="https://www.fillmurray.com/300/300" alt="losowo wygenerowany obraz bajecznego Bill Murray"></div>
    <div class="square"><img src="https://www.placecage.com/300/300" alt="losowo wygenerowany obraz  słynnego Nic Cage"></div>
    <div class="square"><img src="https://www.fillmurray.com/300/300" alt="losowo wygenerowany obraz bajecznego Bill Murray"></div>
  </div>
</section>
