// Galeria obrazów
//
//  - Każdy `<img>`, który dodasz do swojej strony musi mieć atrybut alt. Jeśli obrazek jest informacyjny, wpisz w `alt` tekst z treścią równoważną obrazowi.
//  - Unikaj używania ogólnych słów, takich jak &bdquo;zdjęcie&rdquo;, &bdquo;obrazek&rdquo; lub &bdquo;ikona&rdquo; jako fragmentu wartości `alt`, ponieważ nie przekazują one użytkownikowi cennych treści. Bądź możliwie jak najbardziej opisowy.
//
// <blockquote>Uwaga: używamy losowo wygenerowanego wypełniacza obrazu, więc `alt` tekst nie jest tak opisowy jak mógłby być...zrób swoje RZECzYWISTE obrazy bardziej opisowe!</blockquote>
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#image-gallery_guide">Wytyczne WCAG 2.1</a></h3><div id="image-gallery_guide" class="atblock__panel guidelines"><p><a href="https://wcag.lepszyweb.pl#text-equiv-all" target="_blank">1.1.1 Treść nietekstowa</a> - Wszelkie treści nietekstowe przedstawione użytkownikowi posiadają swoją tekstową alternatywę, która pełni tę samą funkcję, z kilkoma wyjątkami. (Poziom A)<br><br><strong>Uwaga:</strong> Jeśli zawartość nietekstowa jest czystą dekoracją, jest używana tylko do formatowania wizualnego, lub nie jest prezentowana użytkownikom, to nie potrzebuje alternatyw tekstowych.</p></div><div class="markup"></div></section>
//
//
//
// Markup: image-gallery.twig
//
// Style guide: Media.image-gallery

// Import site utilities.
@import '../../global/utils/init';

.image-gallery {
  @include clearfix;
  position: relative;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
  padding: 0;

  @include breakpoint($bp-sm) {
    padding: 0.5vw;
  }

  .square {
    flex: auto;
    width: 100px;
    margin: 0.5vw;
    text-align: center;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}
