<section class="audio-section">
  <div class="audio">
    <audio src="assets/test.mp3" controls>
      <p>Twój program użytkownika nie obsługuje elementu HTML5 Audio.</p>
    </audio>
  </div>
</section>
