
<section class="tabs" aria-multiselectable="false">
  <ul class="tabs__navlist" role="tablist">
    <li class="tabs__nav-item is-active" role="presentation">
      <button class="tabs__nav-trigger" id="tab-label-1" role="tab" aria-setsize="3" aria-posinset="1" tabindex="0" aria-controls="tab-panel-1" aria-selected="true">Panel 1</button>
    </li><li class="tabs__nav-item" role="presentation">
      <button class="tabs__nav-trigger" id="tab-label-2" role="tab" aria-setsize="3" aria-posinset="2" tabindex="-1" aria-controls="tab-panel-2" aria-selected="false">Panel 2</button>
    </li><li class="tabs__nav-item" role="presentation">
      <button class="tabs__nav-trigger" id="tab-label-3" role="tab" aria-setsize="3" aria-posinset="3" tabindex="-1" aria-controls="tab-panel-3" aria-selected="false">Panel 3</button>
    </li>
  </ul>
  <div class="tabs__panels">
    <div class="tabs__panel is-current" id="tab-panel-1" role="tabpanel" aria-labelledby="tab-label-1" tabindex="-1">
      <h3>Panel 1</h3>
      <div class="panel-body">
        <p>Ważnym osiągnięciem Apollo było pokazanie, że ludzkość nie jest na zawsze przykuta do tej planety, a nasze wizje sięgają dalej, a nasze możliwości są nieograniczone.</p>
      </div>
    </div>
    <div class="tabs__panel" id="tab-panel-2" aria-hidden="true" role="tabpanel" aria-labelledby="tab-label-2" tabindex="-1">
      <h3>Panel 2</h3>
      <div class="panel-body">
        <p>Nigdy nie ograniczaj się z powodu ograniczonej wyobraźni innych; nigdy nie ograniczaj innych z powodu własnej ograniczonej wyobraźni.</p>
      </div>
    </div>
    <div class="tabs__panel" id="tab-panel-3" aria-hidden="true" role="tabpanel" aria-labelledby="tab-label-3" tabindex="-1">
      <h3>Panel 3</h3>
      <div class="panel-body">
        <p>Po Apollo 17 Ameryka przestała patrzeć w kierunku następnego horyzontu. Stany Zjednoczone stały się krajem podróżującym w kosmos, ale go odrzuciły. Poświęciliśmy eksplorację kosmosu na eksploatację przestrzeni kosmicznej, co jest interesujące, ale mało wizjonerskie.</p>
      </div>
    </div>
  </div>
</section>
