<section class="tables-section">
  <h3>Opcja #1: Tabela z jednym wierszem nagłówków</h3>
  <table class="tables" cellspacing="0" summary="Informacja o imprezie niespodziance">
  	<tr>
  		<th>Data</th>
  		<th>Wydarzenie</th>
  		<th>MIejsce</th>
  	</tr>
  	<tr>
  		<td>3 lutego</td>
  		<td>Impreza niespodzianka</td>
  		<td>Miasto Imprez</td>
  	</tr>
  </table>
</section>
<section class="tables-section2">
  <div class="break"></div>
  <h3>Opcja #2: Tabela z dwoma nagłówkami i podpisem</h3>
  <table class="tables" cellspacing="0">
    <caption>Nazwy kolorów w wielu językach</caption>
    <tr class="headers">
      <th scope="col">Kolor</th>
      <th scope="col">Francuski</th>
      <th scope="col">Niemiecki</th>
      <th scope="col">Włoski</th>
      <th scope="col">Portugalski</th>
      <th scope="col">Hiszpański</th>
    </tr>
    <tr>
      <th scope="row">Czerwony</th>
      <td>rouge</td>
      <td>rot</td>
      <td>rosso</td>
      <td>vermelho</td>
      <td>rojo</td>
    </tr>
    <tr>
      <th scope="row">Pomarańczowy</th>
      <td>orange</td>
      <td>orange</td>
      <td>arancione</td>
      <td>laranja</td>
      <td>anaranjado</td>
    </tr>
    <tr>
      <th scope="row">Żółty</th>
      <td>jaune</td>
      <td>gelb</td>
      <td>giallo</td>
      <td>amarelo</td>
      <td>amarillo</td>
    </tr>
    <tr>
      <th scope="row">Zielony</th>
      <td>vert</td>
      <td>grün</td>
      <td>verde</td>
      <td>verde</td>
      <td>verde</td>
    </tr>
    <tr>
      <th scope="row">Niebieski</th>
      <td>bleu</td>
      <td>blau</td>
      <td>blu</td>
      <td>azul</td>
      <td>azul</td>
    </tr>
    <tr>
      <th scope="row">Purpurowy</th>
      <td>pourpre</td>
      <td>lila</td>
      <td>porpora</td>
      <td>roxo</td>
      <td>morado</td>
    </tr>
  </table>
</section>
<section class="tables-section3">
  <div class="break"></div>
  <h3>Opcja #3: Tabela złożona</h3>
  <table class="tables" cellspacing="0">
  	<tbody>
  		<tr class="headers">
  			<th id="co1" headers="blank">Królestwo</th>
  			<th id="co2" headers="blank">Gromada</th>
  			<th id="co3" headers="blank">Klasa</th>
  			<th id="co4" headers="blank">Rząd</th>
  		</tr>
  		<tr>
  			<td headers="co1">Zwierzęta</td>
  			<td headers="co2">Strunowce</td>
  			<td headers="co3">Saki</td>
  			<td headers="co4">Drapieżne</td>
  		</tr>
  		<tr>
  			<td headers="co1">Zwierzęta</td>
  			<td headers="co2">Arthropoda</td>
  			<td headers="co3">Insekty</td>
  			<td headers="co4">Lepidoptera</td>
  		</tr>
  		<tr>
  			<td headers="co1">Zwierzęta</td>
  			<td headers="co2">Szkarłupnie</td>
  			<td headers="co3">Rozgwiazdy</td>
  			<td headers="co4">Forcipulatida</td>
  		</tr>
		  <tr class="headers">
        <th id="co5" headers="blank">Rodzina</th>
  			<th id="co6" headers="blank">Rodzaj</th>
  			<th id="co7" headers="blank">Gatunek</th>
  			<th id="co8" headers="blank">Odmiana</th>
  		</tr>
  		<tr>
  			<td headers="co5">Kotowate</td>
  			<td headers="co6">Pantery</td>
  			<td headers="co7">Tygrys azjatycki</td>
  			<td headers="co8">Tygrys</td>
  		</tr>
  		<tr>
  			<td headers="co5">Danaidowate</td>
  			<td headers="co6">Dannaus</td>
  			<td headers="co7">Wędrowne</td>
  			<td headers="co8">Danaid wędrowny</td>
  		</tr>
  		<tr>
  			<td headers="co5">Asteridae</td>
  			<td headers="co6">Rozgwiazdy</td>
  			<td headers="co7">Rozgwiazda</td>
  			<td headers="co8">Gwiazda morska<br>północnego Pacyfiku</td>
  		</tr>
  	</tbody>
  </table>
</section>
<section>
  <div class="break"></div>
  <h3>Opcja #4: Tabela responsywna</h3>
  <table class="responsive-table" id="responsive-tableID">
    <thead>
      <tr align="center">
        <th class="responsive">House Side</th>
        <th class="responsive">House Address</th>
        <th class="responsive">Other</th>
        <th class="responsive">Other Address</th>
        <th class="responsive">Senate Side</th>
        <th class="responsive">Senate Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="responsive">Rayburn House Office Building</td>
        <td class="responsive">50 Independence Ave, SW Washington, DC 20515</td>
        <td class="responsive">Library of Congress</td>
        <td class="responsive">101 Independence Ave SE, Washington, DC 20540</td>
        <td class="responsive">Russell Senate Office Building</td>
        <td class="responsive">2 Constitution Ave NE, Washington, DC 20002</td>
      </tr>
      <tr>
        <td class="responsive">Longworth House Office Building</td>
        <td class="responsive">15 Independence Ave, SW Washington, DC 20515</td>
        <td class="responsive">Supreme Court</td>
        <td class="responsive">1 First Street, NE Washington, DC 20543</td>
        <td class="responsive">Dirksen Senate Office Building</td>
        <td class="responsive">100 Constitution Ave NE Washington, DC 20002</td>
      </tr>
      <tr>
        <td class="responsive">Cannon House Office Building</td>
        <td class="responsive">25 Independence Ave, SE Washington, DC 20003</td>
        <td class="responsive">Capitol Visitors Center</td>
        <td class="responsive">First &amp; East Capitol St SE, Washington, DC 20004</td>
        <td class="responsive">Hart Senate Office Building</td>
        <td class="responsive">150 Constitution Ave NE Washington, DC 20510</td>
      </tr>
      <tr>
        <td class="responsive">Capitol South Metro</td>
        <td class="responsive">307 First Street SE Washington, DC 20003</td>
        <td class="responsive">Federal Center Metro</td>
        <td class="responsive">401 3rd Street SW Washington, DC 20024</td>
        <td class="responsive">Union Station Metro</td>
        <td class="responsive">701 First St. NE Washington, DC 20002</td>
      </tr>
    </tbody>
  </table>
</section>
