<section class="cards highlight highlight--full section">
  <div class="l-center">
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">Przystając pod lasem w śnieżny wieczór</h2>
        <h3 class="highlight__sub-title">Robert Frost</h3>
      </div>
      <div class="highlight__description">
		<p>Wiem, czyj to las: znam właścicieli.<br>
		Ich dom jest we wsi; gdzieżby mieli<br>
		Dojrzeć mnie, gdy spoglądam w mroku<br>
		W ich las, po brzegi pełen bieli.</p>

		<p>Koń nie wie, czemu go w pół kroku<br>
		Wstrzymałem: żadnych zagród wokół;<br>
		Las, lód, jeziora - tylko tyle<br>
		W ten najciemniejszy wieczór roku.</p>

		<p>Dzwonkiem uprzęży koń co chwilę<br>
		Pyta, czy aby się nie mylę.<br>
		Tylko ten brzęk - i świst zawiei<br>
		W sypiącym gęsto białym pyle.</p>

		<p>Ciągnie mnie w mroczną głąb tej kniei,<br>
		Lecz woła trzeźwy świat nadziei<br>
		I wiele mil od snu mnie dzieli,<br>
		I wiele mil od snu mnie dzieli.</p>
      </div>
    </div>
  </div>
</section>