<section class="buttons-section">
  <h3>Rodzaje przycisków</h3>
  <button class="button" id="button_state" aria-pressed="false" aria-describedby="button-example">Przycisk</button>
  <span id="button-example" class="visuallyhidden">Przykładowe znakowanie przycisków</span>
  <button type="button" class="button-icon heart button--outline" id="button_like" aria-pressed="false" aria-describedby="like-button-example" aria-label="heart icon">Lubię to</button>
  <span id="like-button-example" class="visuallyhidden">Przykładowe znakowanie przycisku Lubię to</span>
  <button class="button-icon wheelchair" id="button_all" aria-pressed="false" aria-describedby="a11y-button-example" aria-label="wheelchair icon">A11Y<span class="visuallyhidden">wszystkich rzeczy.</span><span id="a11y-button-example" class="visuallyhidden">Przykładowe znakowanie przycisku A11y</span></button>
  <input type="image" class="magnifyingglass" id="button_search" aria-pressed="false" src="assets/searchicon.png" alt="Szukaj" /><br><br>
  <h3>Stany przycisków</h3>
  <button class="button">Domyślny</button>
  <button class="button-hover">Hover</button>
  <button class="button-active">Focus/Active</button>
  <button class="button-disabled" disabled>Wyłączony</button>
</section>
