<section class="cards cards--slideout section">
  <div class="l-center">
    <div class="cards__content">
      <div class="cards__column">
        <div class="cards__item">
          <div class="cards__front">
            <div class="cards__item-image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Two_toed_sloth.JPG" width="225" height="126" alt="Leniwiec wiszący do góry nogami z gałęzi drzewa.">
            </div>
            <div class="cards__item-title">
              <a href="#sloth1">Prawda czy fałsz:<br>Leniwce mogą pływać.</a>
            </div>
          </div>
          <div class="cards__back">
            <div class="cards__item-top">
            </div>
            <div class="cards__item-description">
              <p id="#sloth1">Prawda!<br>Leniwce są niezdarne na lądzie, ale są świetnymi pływakami.</p>
            </div>
            <div class="cards__item-buttons buttons buttons--center">
              <a href="https://www.thedodo.com/8-awesome-things-you-didnt-kno-668962865.html" class="button"><span class="visuallyhidden">Prawda!<br>Leniwce są niezdarne na lądzie, ale są świetnymi pływakami. </span>Czytaj więcej</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__column">
        <div class="cards__item">
          <div class="cards__front">
            <div class="cards__item-image">
              <img src="https://c1.staticflickr.com/5/4064/4539519942_6d974aed83.jpg" width="225" height="126" alt="Zbliżenie leniwca chwytającego za pień drzewa.">
            </div>
            <div class="cards__item-title">
              <a href="#sloth2">Prawda czy fałsz:<br>Leniwce mają krótkie języki.</a>
            </div>
          </div>
          <div class="cards__back">
            <div class="cards__item-top">
            </div>
            <div class="cards__item-description">
              <p id="#sloth2">Fałsz!<br>Leniwce mogą wydłużyć swoje języki od 10 do 12 cali z ust.</p>
            </div>
            <div class="cards__item-buttons buttons buttons--center">
              <a href="https://www.animalfactsencyclopedia.com/Sloth-facts.html" class="button"><span class="visuallyhidden">Fałsz!<br>Leniwce mogą wydłużyć swoje języki od 10 do 12 cali z ust. </span>Czytaj więcej</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__column">
        <div class="cards__item">
          <div class="cards__front">
            <div class="cards__item-image">
              <img src="https://vignette2.wikia.nocookie.net/sloths/images/b/b3/Buttercup1.jpg/revision/latest?cb=20140206010122" width="225" height="126" alt="Leniwiec siedzący w koszu wydaje się uśmiechać.">
            </div>
            <div class="cards__item-title">
              <a href="#sloth3">Prawda czy fałsz:<br>Leniwce śpią dwadzieścia godzin dziennie.</a>
            </div>
          </div>
          <div class="cards__back">
            <div class="cards__item-top">
            </div>
            <div class="cards__item-description">
              <p id="#sloth3">Fałsz!<br>Leniwce śpią tylko do dwunastu godzin na dobę.</p>
            </div>
            <div class="cards__item-buttons buttons buttons--center">
              <a href="https://www.slothsanctuary.com/2013/02/sleeping-sloths" class="button"><span class="visuallyhidden">Fałsz!<br>Leniwce śpią tylko do dwunastu godzin na dobę. </span>Czytaj więcej</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__column">
        <div class="cards__item">
          <div class="cards__front">
            <div class="cards__item-image">
              <img src="https://upload.wikimedia.org/wikipedia/commons/2/2e/MC_Drei-Finger-Faultier.jpg" width="225" height="126" alt="Sloth hugging a tree in the rainforest.">
            </div>
            <div class="cards__item-title">
              <a href="#sloth4">Prawda czy fałsz:<br>Leniwce mają czteroczęściowe żołądki.</a>
            </div>
          </div>
          <div class="cards__back">
            <div class="cards__item-top">
            </div>
            <div class="cards__item-description">
              <p id="#sloth4">Prawda!<br>Leniwce powoli trawią twarde liście, które jedzą - trawienie posiłku może trwać nawet do miesiąca.</p>
            </div>
            <div class="cards__item-buttons buttons buttons--center">
              <a href="https://totescute.com/what-do-sloths-eat" class="button"><span class="visuallyhidden">Prawda!<br>Leniwce powoli trawią twarde liście, które jedzą - trawienie posiłku może trwać nawet do miesiąca. </span>Czytaj więcej</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>