// Łącza Czytaj więcej
//
// - Dodaj selektory id do tytułów lub akapitów i użyj `aria-labelledby=""`, aby połączyć się z tekstem tytułu (Przykład #1).
// - Dodaj tekst opisowy z `aria-label=""` bezpośrednio do łącza (Przykład #2).
// - Użyj klasy `visuallyhidden`, aby wizualnie ukryć więcej informacji o odnośniku (Przykład #3). Zauważ, że <a href="https://github.com/h5bp/main.css/issues/12">VoiceOver może powodować niezamierzoną kolejność czytania wizualnie ukrytych treści w elementach interaktywnych</a>.
// - Zamień przeczytane więcej linków na przyciski, gdy tylko będzie to możliwe, ponieważ pozwalają one na więcej opcji etykietowania.
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#read_guide">Wytyczne WCAG 2.1</a></h3><div id="read_guide" class="atblock__panel guidelines"><p><a href="https://wcag.lepszyweb.pl/#navigation-mechanisms-refs" target="_blank">2.4.4 Cel łącza (w kontekście)</a>: Cel każdego łącza może wynikać z samej treści łącza lub z treści tekstu powiązanego z kontekstem łącza określonym programowo, poza tymi przypadkami, kiedy cel łącza i tak byłby niejasny dla użytkowników (Poziom A)<br><br><a href="https://wcag.lepszyweb.pl/#navigation-mechanisms-link" target="_blank">2.4.9 Cel łącza (z samego łącza)</a>: Istnieje mechanizm umożliwiający zidentyfikowanie celu każdego łącza z samej jego treści, poza tymi przypadkami, kiedy cel łącza i tak byłby niejasny dla użytkowników (Poziom AAA)</p></div><div class="markup"></div></section>
//
//
//
// Markup: read-more.twig
//
// Style guide: Ogólne.read-more

// Import site utilities.
@import '../../global/utils/init';

.read-more {

  &::after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 7px solid transparent;
    border-left-color: $color-cherry;
    margin-left: 6px;
    margin-top: 5px;
  }
}
