<section class="read-more-section">
  <h3>Przykład #1: Zastosowanie aria-labelledby</h3>
  <h4 id="headline" class="bold">Sztormy uderzyły w wschodnie wybrzeże</h4>
  <p>Ulewne deszcze i wichury uderzyły w wschodnie wybrzeże, powodując powodzie w wielu przybrzeżnych miastach. <a href="#" id="this_link" aria-labelledby="this_link headline" class="read-more">Czytaj więcej</a></p>
  <div class="break"></div>
  <h3>Przykład #2: Zastosowanie aria-label</h3>
  <h4 class="bold">Czarne niedźwiedzie uwięzione w samochodach</h4>
  <p>W ciągu ostatnich trzech tygodni pojawiło się 15 zgłoszeń lub czarnych niedźwiedzi uwięzionych w pojazdach. Istnieje kilka sposobów, aby temu zapobiec. <a href="#" aria-label="Dowiedz się więcej o uwięzionych czarnych niedźwiedziach" class="read-more">Czytaj więcej</a></p>
  <div class="break"></div>
  <h3>Przykład #3: Zastosowanie tekstu ukrytego wizualnie</h3>
  <h4 class="bold">Masowa histeria</h4>
  <p>Ogień i siarka, spadające z nieba. Rzeki i morza gotujące się... Ofiara z człowieka, psy i koty, żyjące razem...
  <p><a href="#" class="read-more">Czytaj więcej<span class="visuallyhidden"> o masowej histerii w odniesieniu do cytatów z filmów</span></a></p>
</section>
