<section class="cards cards--slideout section">
  <div class="l-center">
    <div class="cards__content">
      <div class="cards__column">
        <button id="flip1" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
              <img src="https://img.huffingtonpost.com/asset/scalefit_630_noupscale/58b859e81500002200abcd18.jpeg" width="225" height="126" alt="">
            </div>
            <div>
              <div class="cards__item-title">Prawda czy fałsz:<br>Liściożery to drapieżniki.</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>Fałsz!<br>Liściożery zjadają głównie pąki drzew, nowe pędy, owoce i liście drzewa Cecropia.</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="cards__column">
        <button id="flip2" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
              <img src="https://68.media.tumblr.com/tumblr_lh5y87vnHg1qeqc8to1_500.jpg" width="225" height="126" alt="">
            </div>
            <div>
              <div class="cards__item-title">Prawda czy fałsz:<br>Liściożery zyją na drzewach.</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>Prawda!<br>Liściożery są zwierzętami żyjącymi na drzewach w dżunglach Ameryki Środkowej i Południowej.</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="cards__column">
        <button id="flip3" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
              <img src="https://static.boredpanda.com/blog/wp-content/uploads/2016/10/Cute-sloths-320-580885a0d0510__700.jpg" width="225" height="126" alt="">
            </div>
            <div>
              <div class="cards__item-title">Prawda czy fałsz:<br>Liściożery żyją krótko.</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>Fałsz!<br>Liściożery mogą żyć na wolności do czterdziestu lat.</p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="cards__column">
        <button id="flip4" class="cards__item toggleflip card effect__click" aria-controls="content">
          <div class="cards__item-image card__front">
            <div class="cards__item-image">
              <img src="https://www.enchanting-costarica.com/wp-content/uploads/2015/09/Sloth-baby-being-weighed-in-plastic-basket-Costa-Rica-Credit-Sam-Trull-2014.jpg" width="225" height="126" alt="">
            </div>
            <div>
              <div class="cards__item-title">Prawda czy fałsz:<br>Liściożery są związane z pancernikami.</div>
              <div id="content" class="card__back">
                <div class="cards__item-description">
                  <p>Prawda!<br>Liściożery należą do starożytnej grupy ssaków zwanych Xenarthra, które rozwijały się w izolacji około osiemdziesięciu milionów lat temu. </p>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>