<section class="headings-section">
  <div>
    <h1>Koduję,</h1>
    <h2>ale nie zdaję sobie sprawy,</h2>
    <h3>że minęły już godziny.</h3>
    <h4>Moje oczy są przekrwione,</h4>
    <h5>opuszki palców mi krwawią,</h5>
    <h6>ale ja kontynuuję.</h6>
  </div>
</section>

