// Logo serwisu
//
//  - Każdy `<img>`, który dodasz do swojej strony musi mieć atrybut alt. Jeśli obrazek jest informacyjny, wpisz w `alt` tekst z treścią równoważną obrazowi.
//  - Unikaj używania ogólnych słów, takich jak &bdquo;zdjęcie&rdquo;, &bdquo;obrazek&rdquo; lub &bdquo;ikona&rdquo; jako fragmentu wartości `alt`, ponieważ nie przekazują one użytkownikowi cennych treści. Bądź możliwie jak najbardziej opisowy.
//  - Upewnij się, że każdy tekst na obrazkach z tekstem ma co najmniej 14 punktów i ma dobry kontrast z tłem.
//  - Używając obrazów jako łączy, zastanów się, w jaki sposób tekst `alt` zostanie odczytany użytkownikom technologii wspomagających. Poniższe przykłady przedstawiają odpowiedni tekst `alt` dla logo, gdy jest używane jako łącze lub jako samodzielny zasób obrazu.
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#site-logo_res">Zasoby</a></h3><div id="site-logo_res" class="atblock__panel"><ul><li><a href="http://accessibleicon.org" target="_blank">The Accessible Icon Project</a></li><li><a href="https://snook.ca/archives/html_and_css/hiding-content-for-accessibility" target="_blank">Hiding Content</a></li></ul></div></section>
//
//
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#site-logo_guide">Wytyczne WCAG 2.1</a></h3><div id="site-logo_guide" class="atblock__panel guidelines"><p><a href="https://wcag.lepszyweb.pl#text-equiv-all" target="_blank">1.1.1 Treść nietekstowa</a> - Wszelkie treści nietekstowe przedstawione użytkownikowi posiadają swoją tekstową alternatywę, która pełni tę samą funkcję, z kilkoma wyjątkami. (Poziom A)<br><br><strong>Uwaga:</strong> Jeśli zawartość nietekstowa jest czystą dekoracją, jest używana tylko do formatowania wizualnego, lub nie jest prezentowana użytkownikom, to nie potrzebuje alternatyw tekstowych.<br><br><a href="https://wcag.lepszyweb.pl#visual-audio-contrast-contrast" target="_blank">1.4.3 Kontrast (minimalny)</a> - Wizualna prezentacja tekstu lub obrazu tekstu posiada współczynnik kontrastu wynoszący przynajmniej 4.5:1, poza kilkoma wyjątkami (Poziom AA)<br><br><a href="https://wcag.lepszyweb.pl#visual-audio-contrast-text-presentation" target="_blank">1.4.5 Obrazy tekstu</a> - Jeśli wykorzystywane technologie mogą przedstawiać treść wizualnie, do przekazywania informacji wykorzystuje się tekst, a nie obraz tekstu, z kilkoma wyjątkami. (Poziom AA)<br><br><a href="https://wcag.lepszyweb.pl#navigation-mechanisms-refs" target="_blank">2.4.4 Cel łącza (w kontekście)</a> - Cel każdego łącza może wynikać z samej treści łącza lub z treści tekstu powiązanego z kontekstem łącza określonym programowo, poza tymi przypadkami, kiedy cel łącza i tak byłby niejasny dla użytkowników. (Poziom A)</p></div><div class="markup"></div></section>
//
//
//
// Markup: site-logo.twig
//
// Style guide: Media.site-logo

// Import site utilities.
@import '../../global/utils/init';

.site-logo {

  a {
    display: inline-block;
    overflow: hidden;
  }

  img,
  svg {
    max-width: 215px;
    vertical-align: middle;
  }

  h1 {
    color: $color-black;
    display: inline-block;
    margin: 0 0 0 0.25em;
    vertical-align: middle;
  }
}
