<section class="skip-links-section">
  <div class="skip-links" tabindex="-1">
    <a href="#maincontent">Do treści głównej</a>
    <div class="hodor">Hodor hodor; hodor hodor; hodor hodor?! Hodor. Hodor hodor, hodor. Hodor HODOR hodor, hodor hodor... Hodor hodor hodor... Hodor hodor hodor, hodor, hodor hodor. Hodor hodor; hodor hodor; hodor hodor hodor! Hodor hodor hodor - hodor, hodor. Hodor hodor? Hodor! Hodor hodor, hodor hodor hodor... Hodor hodor hodor?!</div>
    <h1><a name="maincontent" id="maincontent"></a> Nagłówek</h1>
    <p>To jest pierwszy prawdziwy akapit. Wszystkie inne rzeczy są zwykłą bzdurą.</p>
  </div>
</section>
