<section class="toggles-section">
  <div>
    <button type="button" data-action="aria-switch" aria-labelledby="toggle_label" aria-checked="false" role="switch">
      <span></span>
    </button>
    <span id="toggle_label" class="optional-label">Opcjonalna etykieta</span>
  </div>
  <button type="button" data-action="aria-switch" aria-label="Tekst przełącznika" aria-checked="true" role="switch" class="text">
    <span></span>
  </button>
  <button type="button" data-action="aria-switch" aria-label="Odwrotne przełączenie" aria-checked="true" role="switch" class="reverse">
    <span></span>
  </button>
  <button type="button" data-action="aria-switch" aria-label="Odwrotne przełączenie z tekstem" aria-checked="false" role="switch" class="reverse text">
    <span></span>
  </button>
  <button type="button" data-action="aria-switch" aria-label="Odwróć" aria-checked="false" role="switch" class="flip">
    <span></span>
  </button>
</section>
