<nav class="menu" id="a11y-menu" role="navigation" aria-label="Główne menu">
  <ul class="nav level-1 list-reset" role="menubar" aria-hidden="false">
    <li class="has-subnav" role="menuitem" aria-haspopup="true">
      <a href="#about">O nas</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
        <li role="menuitem"><a href="#news" tabindex="-1">Aktualności</a></li>
        <li role="menuitem"><a href="#governance" tabindex="-1">Zarządzanie</a></li>
        <li role="menuitem"><a href="#diversity" tabindex="-1">Różnorodność</a></li>
        <li role="menuitem"><a href="#contact" tabindex="-1">Kontakt</a></li>
      </ul>
    </li>

    <li role="menuitem" aria-haspopup="true">
      <a href="#academics">Naukowcy</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu" class="list-reset">
        <li role="menuitem"><a href="#programs" tabindex="-1">Programy studiów</a></li>
        <li role="menuitem"><a href="#faculty" tabindex="-1">Wydział</a></li>
        <li role="menuitem"><a href="#distance" tabindex="-1">Nauka na odległość</a></li>
        <li role="menuitem"><a href="#libs" tabindex="-1">Biblioteki</a></li>
      </ul>
    </li>

    <li role="menuitem" aria-haspopup="true">
      <a href="#admissions">Rekrutacja</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu" class="list-reset">
        <li role="menuitem"><a href="#undergraduate" tabindex="-1">Student</a></li>
        <li role="menuitem"><a href="#tuition" tabindex="-1">Nauczanie</a></li>
        <li role="menuitem"><a href="#financial-aid" tabindex="-1">Pomoc finansowa</a></li>
      </ul>
    </li>

    <li role="menuitem" aria-haspopup="true">
      <a href="#visitors">Goście</a>
      <ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu" class="list-reset">
        <li role="menuitem"><a href="#events" tabindex="-1">Wydarzenia</a></li>
        <li role="menuitem"><a href="#campus-map" tabindex="-1">Mapa kampusu</a></li>
        <li role="menuitem"><a href="#parking" tabindex="-1">Parking</a></li>
      </ul>
    </li>
  </ul>
</nav>