// Szukaj
//
//  - Owiń komponent wyszukiwania w element z `role="search"`, aby zwiększyć jego wykrywalność w technologiach wspomagających.
//  - Gdy tylko jest to możliwe, użyj elementu `label`, aby wyraźnie powiązać etykiety z polami formularza. Atrybut `for` elementu `label` musi być dokładnie zgodny z identyfikatorem pola formularza.
//  - Niekiedy pola formularza nie potrzebują jawnego elementu `label`, gdy znajdują się obok przycisku z opisowym  tekstem. Np. pole wyszukiwania obok przycisku z etykietą wyszukiwania. W tych przypadkach powinieneś nadal zapewnić element `label`, ale możesz go wizualnie ukryć.
//  - Należy pamiętać, że oznaczenia zastępcze (`placeholder`) nie są rozpoznawane przez wszystkie technologie wspomagające, a tym samym nie są odpowiednimi zamiennikami dla etykiet. Dodatkowo, technologie wspomagające, które <b > ogłaszają</b > symbole zastępcze, najpierw odczytają je, potem etykietę pola, a następnie typ pola. Należy więc pamiętać, aby nie powtarzać etykiety pola jako jej symbolu zastępczego, w przeciwnym razie zostanie ona ogłoszona wielokrotnie.
//
// <section data-action="aria-toggle" class="atblock"><h3 class="atblock__title"><a href="#search_guide">Wytyczne WCAG 2.1</a></h3><div id="search_guide" class="atblock__panel guidelines"><p><p><a href="https://wcag.lepszyweb.pl#text-equiv-all" target="_blank">1.1.1 Treść nietekstowa</a> - Wszelkie treści nietekstowe przedstawione użytkownikowi posiadają swoją tekstową alternatywę, która pełni tę samą funkcję, z kilkoma wyjątkami. (Poziom A)<br><br><a href="https://wcag.lepszyweb.pl#qr-content-structure-separation-programmatic" target="_blank">1.3.1 Informacje i relacje</a> - Informacje, struktura oraz relacje między treściami przekazywane poprzez prezentację mogą być odczytane przez program komputerowy lub istnieją w postaci tekstu (Poziom A)<br><br><a href="https://wcag.lepszyweb.pl#qr-navigation-mechanisms-descriptive" target="_blank">2.4.6 Nagłówki i etykiety</a> - Nagłówki i etykiety opisują temat lub cel treści. (Poziom AA)<br><br><a href="https://wcag.lepszyweb.pl#qr-minimize-error-cues" target="_blank">3.3.2 Etykiety lub instrukcje</a> - Gdy w treści wymagane jest wprowadzenie danych przez użytkownika, zapewnione są etykiety lub instrukcje.. (Poziom A)<br><br><a href="https://wcag.lepszyweb.pl#qr-ensure-compat-rsv" target="_blank">4.1.2 Nazwa, rola, wartość</a> - Dla wszystkich komponentów interfejsu użytkownika (w tym, ale nie tylko, elementów formularzy, łączy oraz komponentów wygenerowanych przez skrypty) nazwa oraz rola mogą być określone programowo; stan, właściwości oraz wartości, które mogą być ustawione przez użytkownika, mogą również być ustawione programowo; powiadomienie o zmianach w tych elementach dostępne jest dla programów użytkownika, w tym technologii wspomagających. (Poziom A)</p></div><div class="markup"></div></section>
//
//
//
// Markup: search.twig
//
// Style guide: Formularze.search
// Import site utilities.
@import '../../global/utils/init';

input[type='search'] {
  background-color: $color-white;
  width: 100%;
  padding: 0.75rem;
  margin: 8px 0 20px;
  box-sizing: border-box;
  border-radius: $border-rd-sm;
  border: 2px solid $color-gallery;
  font-size: $padding-sm;
  min-height: 49px;

  @include breakpoint($bp-sm) {
    width: 25%;
  }
}
