<section class="highlight section highlight--right">
  <div class="l-center">
    <div class="highlight__image">
      <img src="https://placebear.com/500/400" alt="Brązowy niedźwiedź fruwający na skałach w rzece.">
    </div>
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">Wyróżniona karta z dużym zdjęciem po prawej stronie</h2>
      </div>
      <div class="highlight__description">
        <p>In convallis euismod nibh a ornare. Integer vitae ultrices lectus, quis semper leo. Sed tempus massa vel arcu dapibus tempus. Quisque dignissim ac diam et auctor. In hac habitasse platea dictumst. Vestibulum ut tellus eu magna varius tempus. Sed vitae scelerisque odio, ut tempor dolor. Vivamus non ultrices nisl. Donec maximus vehicula consequat. Integer sed fermentum nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><p>
      </p></div>
      <a href="#" aria-label="Dowiedz się więcej o czarnych niedźwiedziach" class="read-more">Opcjonalnie łącze Dowiedz się więcej</a>
    </div>
  </div>
</section>

<section class="highlight section highlight--right-small">
  <div class="l-center">
    <div class="highlight__image">
      <img src="https://placebear.com/400/300" alt="Brązowy niedźwiedź fruwający na skałach w rzece.">
    </div>
    <div class="highlight__content">
      <div class="highlight__header">
        <h2 class="highlight__title">Wyróżniona karta z małym zdjęciem po prawej stronie</h2>
      </div>
      <div class="highlight__description">
        <p>In convallis euismod nibh a ornare. Integer vitae ultrices lectus, quis semper leo. Sed tempus massa vel arcu dapibus tempus. Quisque dignissim ac diam et auctor. In hac habitasse platea dictumst. Vestibulum ut tellus eu magna varius tempus. Sed vitae scelerisque odio, ut tempor dolor. Vivamus non ultrices nisl. Donec maximus vehicula consequat. Integer sed fermentum nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><p>
      </p></div>
      <a href="#" aria-label="Dowiedz się więcej o czarnych niedźwiedziach" class="read-more">Opcjonalnie łącze Dowiedz się więcej</a>
    </div>
  </div>
</section>