<section class="accordion-section">
  <div class="accordion" role="presentation">
    <div class="js-accordion__panel">
      <h3 class="accordion__heading">
      <button class="accordion__trigger" aria-controls="accordion__content_1" aria-expanded="false" tabindex="0" id="accordion__title_1" aria-selected="false">Jestem wysoki, gdy jestem młody i niski, gdy jestem stary. Czym ja jestem?
      </button>
      </h3>
      <div class="accordion__content" id="accordion__content_1" role="region" aria-hidden="true" aria-labelledby="accordion__title_1">
        <p>Świeca</p>
      </div>
    </div>
    <div class="js-accordion__panel">
      <h3 class="accordion__heading">
      <button class="accordion__trigger" aria-controls="accordion__content_2" aria-expanded="false" tabindex="0" id="accordion__title_2" aria-selected="false">Co waży więcej, kilogram piór czy kilogram cegieł?
      </button>
      </h3>
      <div class="accordion__content" id="accordion__content_2" role="region" aria-hidden="true" aria-labelledby="accordion__title_2">
        <p>Ani jedno, ani drugie, ważą po kilogramie</p>
      </div>
    </div>
    <div class="js-accordion__panel">
      <h3 class="accordion__heading">
      <button class="accordion__trigger" aria-controls="accordion__content_3" aria-expanded="false" tabindex="0" id="accordion__title_3" aria-selected="false">Im dalej idziesz, tym więcej zostawiasz za sobą. Czym one są?
      </button>
      </h3>
      <div class="accordion__content" id="accordion__content_3" role="region" aria-hidden="true" aria-labelledby="accordion__title_3">
        <p>Odciski stóp.</p>
      </div>
    </div>
  </div>
</section>
