<section class="card-grid">
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/butterfly.jpg" alt="Motyl Blue Morpho"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/blue/" class="card__title--link">Blue Morpho</a>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/gold-banded.jpg" alt="Motyl złocisty leśnik"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/blue/" class="card__title--link">Złocisty leśnik</a>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/starry.jpg" alt="Motyl Gwiaździsty krakers nocny"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/blue/" class="card__title--link">Gwiaździsty krakers nocny</a>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/lacewing.jpg" alt="Motyl Cethosia biblis"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/red/" class="card__title--link">Cethosia biblis</a>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/swallowtail.jpg" alt="Motyl Papilio palinurus"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/green/" class="card__title--link">Papilio palinurus</a>
      </div>
    </div>
  </section>
  <section class="card">
    <div class="card__link-wrapper">
      <div class="card__image"><img src="../assets/glasswing.jpg" alt="Motyl szklanoskrzydły"></div>
      <div class="card__title">
        <a target="_blank" href="https://www.floridamuseum.ufl.edu/exhibits/butterfly-rainforest/id-guide/gray-white/" class="card__title--link">Szklanoskrzydły</a>
      </div>
    </div>
  </section>
</section>