name: github pages

on:
  push:
    branches:
      - main
  workflow_dispatch: # Allow manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6.2.0
        with:
          node-version: '20'
          check-latest: true

      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
            
      - name: Prepare site
        run: |
              mkdir ${{ github.workspace }}/dist
              npm ci
              mkdir -p ${{ github.workspace }}/dist/favicons && cp ${{ github.workspace }}/docs/favicons/* ${{ github.workspace }}/dist/favicons && mkdir -p ${{ github.workspace }}/dist/assets && cp -r ${{ github.workspace }}/docs/assets/* ${{ github.workspace }}/dist/assets
              npm run build
              cd ./dist && sed -i s@../all/all.css@all/all.css@g *.html
      
      - name: Upload production-ready assets
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
